.pokemon__block {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  width: 250px;
  height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(182, 95, 182);
  cursor: pointer;
  transition: all 1s;
}

.pokemon__block:hover {
  transform: scale(106%);
  background-color: rgb(247, 247, 64);
  border: 3px solid black;
}

.pokemonName {
  display: flex;
  margin: 15px auto;
  width: 200px;
  justify-content: center;
  border: 2px solid rgb(223, 223, 84);
}

.image-block {
  display: flex;
  margin: 10px auto;
  height: 150px;
  width: 150px;
  border: 2px solid beige;
}

.pokemonImage {
  display: flex;
  margin: 30px auto;
  width: 120px;
  height: 120px;
}

.pokemon__type {
  display: flex;
  margin: 5px auto;
  width: 100px;
  justify-content: center;
  align-self: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(188, 214, 228);
}


@media (max-width: 1200px) {
  .pokemon__block {
    width: 200px;
    height: 300px;
    font-size: 15px;
  }

  .pokemonImage {
    width: 110px;
  }

  .pokemonName {
    display: flex;
    margin: 15px auto;
    width: 130px;
    border: 1px solid rgb(223, 223, 84);
  }
}

@media (max-width: 800px) {
  .pokemon__block {
    width: 200px;
    height: 350px;
    font-size: 15px;
  }

  .pokemonImage {
    width: 110px;
  }

  .pokemonName {
    display: flex;
    margin: 15px auto;
    width: 130px;
    border: 1px solid rgb(223, 223, 84);
  }
}
