.pokemon__container {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 1250px) {
  .pokemon__container {
    width: 600px;
  }
}

@media (max-width: 900px) {
  .pokemon__container {
    width: 100vw;
  }
}
